{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/table.css') }}" type="text/css" media="all" />
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {# put links to javascript libraries here if you need any #}
	<script type="text/javascript">
        function changeVisibility(viewId){
            $('#tab1').hide();
            $('#tab2').hide();
            $('#tab3').hide();
            $('#tab4').hide();
            $('#'+viewId).show();
        }
        $(document).ready(function(){
            $('#teacher_view').click(changeVisibility.bind(null, 'tab1'));
            $('#groups_view').click(changeVisibility.bind(null, 'tab2'));
            $('#classroom_view').click(changeVisibility.bind(null, 'tab3'));
            $('#tablica_view').click(changeVisibility.bind(null, 'tab4'));
        });
    </script>
{% endblock %}

{%- block sonata_admin_content -%}
		<div class="tabsLink">
            <input type="button" value="По преподавателям" style="width:200px;" id="teacher_view">
            <input type="button" value="По группам" style="width:200px;" id="groups_view">
			<input type="button" value="По аудиториям" style="width:200px;" id="classroom_view">
			<input type="button" value="Таблица" style="width:200px;" id="tablica_view">
            <br /> <br />
		</div>

    {# по преподователям #}
 	<div id="tab1" style="background: white; display:block;">
        <table rules=all border=2>
            <tbody>
            <tr>
                <td  colspan=2 rowspan=2 width=171 height=34>Время занятий</td>
                {% for teacher in admin.datagrid.results %}
                    <td  colspan=3 width=257> Преподаватель: {{ teacher.getTeacher.fullName }}</td>
                {% endfor %}
            </tr>
            <tr>
                {% for teacher in admin.datagrid.results %}
                    <td>Предмет</td>
                    <td>Группа</td>
                    <td>Ауд.</td>
                {% endfor %}
            </tr>
            {% for weekday in weekdays|keys %}
                {% for timeinterval in timeintervals %}
                    {% if loop.first %}
                        <tr class="line_table">
                            <td  rowspan={{ loop.length }} height=75>{{ weekdays[weekday] }}</td>
                            <td>{{ timeinterval }}</td>
                            {% for teacher in admin.datagrid.results %}
                                {% if teacher.weekday == weekdays[weekday] and teacher.timeinterval == timeinterval %}
                                    <td class="cell_table">{{ teacher.subject }}</td>
                                    <td class="cell_table">{{ teacher.group }}</td>
                                    <td class="cell_table">{{ teacher.classroom }}</td>
                                {% else %}
                                    <td class="cell_table"><br></td>
                                    <td class="cell_table"><br></td>
                                    <td class="cell_table"><br></td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% else %}
                        <tr class="line_table">
                            <td>{{ timeinterval }}</td>
                            {% for teacher in admin.datagrid.results %}
                                {% if teacher.weekday == weekdays[weekday] and teacher.timeinterval == timeinterval %}
                                    <td class="cell_table">{{ teacher.subject }}</td>
                                    <td class="cell_table">{{ teacher.group }}</td>
                                    <td class="cell_table">{{ teacher.classroom }}</td>
                                {% else %}
                                    <td class="cell_table"><br></td>
                                    <td class="cell_table"><br></td>
                                    <td class="cell_table"><br></td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    {# по группам #}
    <div id="tab2" style="background: white; display:none;">
           <table rules=all border=2>
              <tbody>
              <tr>
                  <td  colspan=2 rowspan=2 width=171 height=34>Время занятий</td>
                  {% for group in admin.datagrid.results %}
                      <td  colspan=3 width=257>Группа № {{ group.getGroup.groupName }}</td>
                  {% endfor %}
              </tr>
              <tr>
                  {% for group in admin.datagrid.results %}
                      <td>Предмет</td>
                      <td>Ауд.</td>
                      <td>Преподаватель</td>
                  {% endfor %}
              </tr>
              {% for weekday in weekdays|keys %}
                    {% for timeinterval in timeintervals %}
                        {% if loop.first %}
                            <tr class="line_table">
                                <td  rowspan={{ loop.length }} height=75>{{ weekdays[weekday] }}</td>
                                <td>{{ timeinterval }}</td>
                                {% for group in admin.datagrid.results %}
                                    {% if group.weekday == weekday and group.timeinterval == timeinterval %}
                                        <td class="cell_table">{{ group.subject }}</td>
                                        <td class="cell_table">{{ group.classroom }}</td>
                                        <td class="cell_table">{{ group.teacher }}</td>
                                    {% else %}
                                        <td class="cell_table"><br></td>
                                        <td class="cell_table"><br></td>
                                        <td class="cell_table"><br></td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% else %}
                            <tr class="line_table">
                                <td>{{ timeinterval }}</td>
                                {% for group in admin.datagrid.results %}
                                    {% if group.weekday == weekday and group.timeinterval == timeinterval %}
                                        <td class="cell_table">{{ group.subject }}</td>
                                        <td class="cell_table">{{ group.classroom }}</td>
                                        <td class="cell_table">{{ group.teacher }}</td>
                                    {% else %}
                                        <td class="cell_table"><br></td>
                                        <td class="cell_table"><br></td>
                                        <td class="cell_table"><br></td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>

    </div>
    {# по аудиториям #}
    <div id="tab3" style="background: white; display:none;">
        <table rules=all border=2>
            <tbody>
            <tr>
                <td  colspan=2 rowspan=2 width=171 height=34>Время занятий</td>
                {% for classroom in admin.datagrid.results %}
                    <td  colspan=3 width=257>Аудитория № {{ classroom.getClassroom.number }}</td>
                {% endfor %}
            </tr>
            <tr>
                {% for classroom in admin.datagrid.results %}
                    <td>Предмет</td>
                    <td>Группа</td>
                    <td>Преподаватель</td>
                {% endfor %}
            </tr>
            {% for weekday in weekdays|keys %}
                {% for timeinterval in timeintervals %}
                    {% if loop.first %}
                        <tr class="line_table">
                            <td  rowspan={{ loop.length }} height=75>{{ weekdays[weekday] }}</td>
                            <td>{{ timeinterval }}</td>
                            {% for classroom in admin.datagrid.results %}
                                {% if classroom.weekday == weekday and classroom.timeinterval == timeinterval %}
                                    <td class="cell_table">{{ classroom.subject }}</td>
                                    <td class="cell_table">{{ classroom.group }}</td>
                                    <td class="cell_table">{{ classroom.teacher }}</td>
                                {% else %}
                                    <td class="cell_table"><br></td>
                                    <td class="cell_table"><br></td>
                                    <td class="cell_table"><br></td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% else %}
                        <tr class="line_table">
                            <td>{{ timeinterval }}</td>
                            {% for classroom in admin.datagrid.results %}
                                {% if classroom.weekday == weekday and classroom.timeinterval == timeinterval %}
                                    <td class="cell_table">{{ classroom.subject }}</td>
                                    <td class="cell_table">{{ classroom.group }}</td>
                                    <td class="cell_table">{{ classroom.teacher }}</td>
                                {% else %}
                                    <td class="cell_table"><br></td>
                                    <td class="cell_table"><br></td>
                                    <td class="cell_table"><br></td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="tab4" style="background: white; display:none;">
    {% block list_table %}
        {{ parent() }}
    {% endblock %}
    </div>
{%- endblock sonata_admin_content -%}