{% extends 'AppBundle::standard_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/table.css') }}" type="text/css" media="all" />
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {# put links to javascript libraries here if you need any #}
	<script type="text/javascript">
function change(myid){
	document.getElementById('tab1').style.display = "none";
	document.getElementById('tab2').style.display = "none";
	document.getElementById('tab3').style.display = "none";
	document.getElementById(myid).style.display = "block";
};
</SCRIPT>
{% endblock %}

{% block sonata_admin_content -%}
        <h1>{{ name }}</h1>
		<div class="tabsLink">
			<input type="button" value="По группам" style="width:200px;" onClick="change('tab1')">
			<input type="button" value="По преподавателям" style="width:200px;" onClick="change('tab2')">
			<input type="button" value="По аудиториям" style="width:200px;" onClick="change('tab3')">
			<br />
			<br />
		</div>
		
 	<div id="tab1" style="background: white; display:block;">	
        <TABLE RULES=ALL BORDER=2>
            <TBODY>
            <TR>
                <TD  COLSPAN=2 ROWSPAN=2 WIDTH=171 HEIGHT=34 ALIGN=CENTER>Время занятий</TD>
                {% for group in groups %}
                    <TD  COLSPAN=3 WIDTH=257 ALIGN=CENTER>Группа № {{ group.groupName }}</TD>
                {% endfor %}
            </TR>
            <TR>
             {% for group in groups %}
                <TD  ALIGN=CENTER>Предмет</TD>
                <TD  ALIGN=CENTER>Ауд.</TD>
                <TD  ALIGN=CENTER>Преподаватель</TD>
             {% endfor %}
            </TR>
            {% for weekday in weekdays %}
                {% for timeInterval in timeIntervals %}
                    {% if loop.first %}
                        <TR>
                            <TD  ROWSPAN={{ loop.length }} HEIGHT=75 ALIGN=CENTER>{{ weekday }}</TD>
                            <TD  ALIGN=CENTER>{{ timeInterval }}</TD>
                            {% for group in groups %}
                                <TD  align="center" class="Default"  onMouseOver="className='Default2'" onMouseOut="className='Default'" onClick="location='{{ link }}'"><BR></TD>
                                <TD  align="center" class="Default"  onMouseOver="className='Default2'" onMouseOut="className='Default'" onClick="location='{{ link }}'"><BR></TD>
                                <TD  align="center" class="Default"  onMouseOver="className='Default2'" onMouseOut="className='Default'" onClick="location='{{ link }}'"><BR></TD>
                            {% endfor %}
                        </TR>
                    {% else %}
                        <TR>
                           <TD  ALIGN=CENTER>{{ timeInterval }}</TD>
                            {% for group in groups %}
                                <TD  align="center" class="Default"  onMouseOver="className='Default2'" onMouseOut="className='Default'" onClick="location='{{ link }}'"><BR></TD>
                                <TD  align="center" class="Default"  onMouseOver="className='Default2'" onMouseOut="className='Default'" onClick="location='{{ link }}'"><BR></TD>
                                <TD  align="center" class="Default"  onMouseOver="className='Default2'" onMouseOut="className='Default'" onClick="location='{{ link }}'"><BR></TD>
                            {% endfor %}
                        </TR>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            </TBODY>
        </TABLE>
	</div>	
	
        <div id="tab2" style="display:none;">
		По преподавателям 2 <br>
        </div>
		
        <div id="tab3" style="display:none;">
		По аудиториям 3 <br>
        </div>
{% endblock sonata_admin_content %}