{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/table.css') }}" type="text/css" media="all" />
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {# put links to javascript libraries here if you need any #}
	<script type="text/javascript">
        function changeVisibility(viewId){
            $('#tab1').hide();
            $('#tab2').hide();
            $('#tab3').hide();
            $('#tab4').hide();
            $('#'+viewId).show();
        }
        $(document).ready(function(){
            $('#teacher_view').click(changeVisibility.bind(null, 'tab1'));
            $('#groups_view').click(changeVisibility.bind(null, 'tab2'));
            $('#classroom_view').click(changeVisibility.bind(null, 'tab3'));
            $('#tablica_view').click(changeVisibility.bind(null, 'tab4'));
        });
    </script>
{% endblock %}

{%- block sonata_admin_content -%}
		<div class="tabsLink">
            <input type="button" value="По преподавателям" style="width:200px;" id="teacher_view">
            <input type="button" value="По группам" style="width:200px;" id="groups_view">
			<input type="button" value="По аудиториям" style="width:200px;" id="classroom_view">
			<input type="button" value="Таблица" style="width:200px;" id="tablica_view">
            <br /> <br />
		</div>
    {# по преподователям #}
 	<div id="tab1" style="background: white; display:block;">
        <table rules=all border=4>
            <tbody>
            <tr>
                <td  colspan=2 rowspan=2 width="130px" class="head_table" >Время занятий</td>
                {% for teacher in teachers %}
                    <td  colspan=3 width=257 class="cell_table bottom_left"> Преподаватель: {{ teacher.getTeacher.getFullName }}</td>
                {% endfor %}
            </tr>
            <tr>
                {% for teacher in teachers %}
                    <td class="head_table bottom_left">Предмет</td>
                    <td class="head_table">Группа</td>
                    <td class="head_table">Ауд.</td>
                {% endfor %}
            </tr>
            {% for weekday in weekdays %}
                {% for timeinterval in timeintervals %}
                    {% if loop.first %}
                        <tr class="top_line">
                            <td  rowspan={{ loop.length }}>{{ weekday }}</td>
                            <td class="head_table" width="80px">{{ timeinterval }}</td>
                            {% for teacher in teachers %}
                                {% if scheduleKeysArray[weekday][timeinterval.id][teacher.getTeacher.id] is defined %}
                                    <td class="cell_table bottom_left">{{ scheduleKeysArray[weekday][timeinterval.id][teacher.getTeacher.id].subject }}</td>
                                    <td class="cell_table">{{ scheduleKeysArray[weekday][timeinterval.id][teacher.getTeacher.id].group }}</td>
                                    <td class="cell_table">{{ scheduleKeysArray[weekday][timeinterval.id][teacher.getTeacher.id].classroom }}</td>
                                {% else %}
                                    <td class="cell_table bottom_left"><br></td>
                                    <td class="cell_table"><br></td>
                                    <td class="cell_table"><br></td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% else %}
                        <tr>
                            <td class="head_table" width="80px">{{ timeinterval }}</td>
                            {% for teacher in teachers %}
                                {% if scheduleKeysArray[weekday][timeinterval.id][teacher.getTeacher.id] is defined %}
                                    <td class="cell_table bottom_left">{{ scheduleKeysArray[weekday][timeinterval.id][teacher.getTeacher.id].subject }}</td>
                                    <td class="cell_table">{{ scheduleKeysArray[weekday][timeinterval.id][teacher.getTeacher.id].group }}</td>
                                    <td class="cell_table">{{ scheduleKeysArray[weekday][timeinterval.id][teacher.getTeacher.id].classroom }}</td>
                                {% else %}
                                    <td class="cell_table bottom_left"><br></td>
                                    <td class="cell_table"><br></td>
                                    <td class="cell_table"><br></td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    {# по группам #}
    <div id="tab2" style="background: white; display:none;">
           <table rules=all border=4>
              <tbody>
              <tr>
                  <td  colspan=2 rowspan=2 width="130px" class="head_table" >Время занятий</td>
                  {% for group in groups %}
                      <td  colspan=3 width=257 class="cell_table bottom_left">Группа <b>№ {{ group.getGroup.groupName }}</b></td>
                  {% endfor %}
              </tr>
              <tr>
                  {% for group in groups %}
                      <td class="head_table bottom_left">Предмет</td>
                      <td class="head_table">Группа</td>
                      <td class="head_table">Ауд.</td>
                  {% endfor %}
              </tr>
              {% for weekday in weekdays %}
                    {% for timeinterval in timeintervals %}
                        {% if loop.first %}
                            <tr class="top_line">
                                <td  rowspan={{ loop.length }} height=75>{{ weekday }}</td>
                                <td class="head_table" width="80px">{{ timeinterval }}</td>
                                {% for group in groups %}
                                    {% if scheduleKeysArray[weekday][timeinterval.id][group.group.groupName] is defined %}
                                        <td class="cell_table bottom_left">{{ scheduleKeysArray[weekday][timeinterval.id][group.group.groupName].subject }}</td>
                                        <td class="cell_table">{{ scheduleKeysArray[weekday][timeinterval.id][group.group.groupName].classroom }}</td>
                                        <td class="cell_table">{{ scheduleKeysArray[weekday][timeinterval.getId][group.group.groupName].teacher }}</td>
                                    {% else %}
                                        <td class="cell_table bottom_left"><br></td>
                                        <td class="cell_table"><br></td>
                                        <td class="cell_table"><br></td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% else %}
                            <tr>
                                <td class="head_table" width="80px">{{ timeinterval }}</td>
                                {% for group in groups %}
                                    {% if scheduleKeysArray[weekday][timeinterval.id][group.group.groupName] is defined %}
                                        <td class="cell_table bottom_left">{{ scheduleKeysArray[weekday][timeinterval.id][group.group.groupName].subject }}</td>
                                        <td class="cell_table">{{ scheduleKeysArray[weekday][timeinterval.id][group.group.groupName].classroom }}</td>
                                        <td class="cell_table">{{ scheduleKeysArray[weekday][timeinterval.getId][group.group.groupName].teacher }}</td>
                                    {% else %}
                                        <td class="cell_table bottom_left"><br></td>
                                        <td class="cell_table"><br></td>
                                        <td class="cell_table"><br></td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>

    </div>
    {# по аудиториям #}
    <div id="tab3" style="background: white; display:none;">
        <table rules=all border=4>
            <tbody>
            <tr>
                <td  colspan=2 rowspan=2 width="130px" class="head_table" >Время занятий</td>
                {% for classroom in classrooms %}
                    <td  colspan=3 width=257 class="cell_table bottom_left">Аудитория <b>№ {{ classroom.classroom.number }}</b></td>
                {% endfor %}
            </tr>
            <tr>
                {% for classroom in classrooms %}
                    <td class="head_table bottom_left">Предмет</td>
                    <td class="head_table">Группа</td>
                    <td class="head_table">Ауд.</td>
                {% endfor %}
            </tr>
            {% for weekday in weekdays %}
                {% for timeinterval in timeintervals %}
                    {% if loop.first %}
                        <tr class="top_line">
                            <td  rowspan={{ loop.length }} height=75>{{ weekday }}</td>
                            <td class="head_table" width="80px">{{ timeinterval }}</td>
                            {% for classroom in classrooms %}
                                {% if scheduleKeysArray[weekday][timeinterval.id][classroom.getClassroom.getName] is defined %}
                                    <td class="cell_table bottom_left">{{ scheduleKeysArray[weekday][timeinterval.id][classroom.getClassroom.getName].subject }}</td>
                                    <td class="cell_table">{{ scheduleKeysArray[weekday][timeinterval.id][classroom.getClassroom.getName].group }}</td>
                                    <td class="cell_table">{{ scheduleKeysArray[weekday][timeinterval.id][classroom.getClassroom.getName].teacher }}</td>
                                {% else %}
                                    <td class="cell_table bottom_left"><br></td>
                                    <td class="cell_table"><br></td>
                                    <td class="cell_table"><br></td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% else %}
                        <tr>
                            <td class="head_table" width="80px">{{ timeinterval }}</td>
                            {% for classroom in classrooms %}
                                {% if scheduleKeysArray[weekday][timeinterval.id][classroom.getClassroom.getName] is defined %}
                                    <td class="cell_table bottom_left">{{ scheduleKeysArray[weekday][timeinterval.id][classroom.getClassroom.getName].subject }}</td>
                                    <td class="cell_table">{{ scheduleKeysArray[weekday][timeinterval.id][classroom.getClassroom.getName].group }}</td>
                                    <td class="cell_table">{{ scheduleKeysArray[weekday][timeinterval.id][classroom.getClassroom.getName].teacher }}</td>
                                {% else %}
                                    <td class="cell_table bottom_left"><br></td>
                                    <td class="cell_table"><br></td>
                                    <td class="cell_table"><br></td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="tab4" style="background: white; display:none;">
    {% block list_table %}
        {{ parent() }}
    {% endblock %}
    </div>
{%- endblock sonata_admin_content -%}