<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <title>login</title>
    <link rel="stylesheet/less" type="text/css" href="{{ asset('bundles/applicationsonatauser/css/style.css') }}">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/less.js/2.0.0/less.min.js"></script>
    <link rel="stylesheet" href="{{ asset('bundles/applicationsonatauser/css/style.css') }}">
</head>
<body>
<!--TEST TEST TEST-->
    <header id="header_1">
        <img src="{{ asset(sonata_admin.adminPool.titlelogo) }}" alt="iTeen Academy">
        <p>Образовательный центр Парка высоких технологий</p>
        <aside>
            <p>г. Минск, ул. Скрыганова, 14</p>
            <p>+375 29 368 66 83</p>
        </aside>
    </header>
     <header id="header_2">
         <p>Вход в электронный журнал</p>
     </header>
     <article>
     <h2>Вход</h2>
     <section>
         <form id = "enter" action='{{ path("sonata_user_admin_security_check") }}' method="post" role="form">
             <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
             <label> <p>Логин </p>
                 <input type="text" placeholder="example@example.com" name="_username" value="{{ last_username }}" required="required">
             </label>
             <label> <p>Пароль</p>
                 <input type="text" name="_password" required="required">
             </label>
             <label>
                 <input type="checkbox" name="_remember_me" value="on">
                 <p><span></span>Оставаться в системе</p>
             </label>
             <input value = "Войти" type = "submit" id = "submitButton">
         </form>
         <a href="{{ reset_route }}">Забыли пароль?</a>
     </section>
 </article>
 <footer>
     <p>2016 Все права защищены</p>
 </footer>
 <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
 <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js"></script>
 <script src="{{ asset('bundles/applicationsonatauser/js/login1.js') }}"></script>
</body>
</html>