{% extends 'SonataAdminBundle:CRUD:show.html.twig' %}

{% block sonata_page_content_header %}
{% endblock %}

{%- block actions -%}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/journalscroll.css') }}" type="text/css" media="all"/>
{% endblock %}

{% block list_table %}
    <div class="col-xs-12 col-md-12">
        <div class="box box-primary">
            <div class="box-body ">
                <a class="btn btn-sm btn-default" href="{{ path('lesson-route-admin_createLesson', {
                    'groupId': groupId,
                    'subjectId': object.id
                }) }}">
                    <i class="fa fa-plus"></i>
                    Создать урок
                </a>
                <p>Группа:&nbsp {{ groupName }}</p>
                <p>Предмет:&nbsp {{ object.name }}</p>
                {# Вывод кнопок перключения предметов #}
                {% for subject in subjectList %}
                    <a class="btn btn-sm btn-default" href="{{ path('journal-route-admin_subject_show', {
                        'id': groupId,
                        'childId': subject.id
                    }) }}">
                        {{ subject.getName }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-12">
        <div class="box box-primary">
            <div class="box-body" id="journal_overflow">
                <table class="table table-bordered table-striped sonata-ba-list">

                    {% block table_header %}
                        <thead>
                        <tr class="sonata-ba-list-field-header">
                            <th rowspan="2" class="sonata-ba-list-field-header-text" style="vertical-align: middle;">
                                Ф.И.О. учащегося
                            </th>
                            {# вывод месяцев #}
                            {% for key,value in monthsColspanData %}
                                <th class="sonata-ba-list-field-header-text" style="text-align:center"
                                    colspan="{{ value }}">{{ key }}</th>
                            {% endfor %}
                            <th rowspan="2" class="sonata-ba-list-field-header-text"
                                style="vertical-align: middle; text-align:center">
                                Ср. балл
                            </th>
                            <th rowspan="2" class="sonata-ba-list-field-header-text"
                                style="vertical-align: middle; text-align:center">
                                Кол-во оц-ок
                            </th>
                            <th rowspan="2" class="sonata-ba-list-field-header-text"
                                style="vertical-align: middle; text-align:center">
                                Кол-во проп-ков
                            </th>
                        </tr>
                        <tr class="sonata-ba-list-field-header">
                            {# Вывод проведенных уроков по предмету в заголовке таблицы журнала #}
                            {% for currentLesson in lessonsList %}
                                <th title="{{ currentLesson.topic }}" style="text-align:center">
                                    <a href="{{ path('lesson-route-admin_edit', {
                                        'id': currentLesson.id
                                    }) }}">
                                        {{ currentLesson.date|date("d") }}
                                    </a>
                                </th>
                            {% endfor %}

                        </tr>
                        </thead>
                    {% endblock %}

                    {% block table_body %}
                        <tbody>
                        {# Вывод строк журнала #}
                        {% for pga in journalsData %}
                            <tr>
                                <td class="sonata-ba-list-field sonata-ba-list-field-text">
                                    {{ pga.pupil.__toString }}
                                </td>
                                {# Вывод оценок #}
                                {% set flag = false %}
                                {% for currentLesson in lessonsList %}
                                    {# Проверяем совпадение ID урока предмета с ID урока в коллекции журналов #}
                                    {% for journal in pga.journal %}
                                        {% if journal.lesson.id == currentLesson.id %}
                                            <td title="{{ journal.remark }}" style="text-align:center">
                                                {% if journal.assessment == constant('Application\\Sonata\\UserBundle\\Entity\\Journal::IS_ABSENT') %}
                                                    н
                                                    {% if journal.remark %}
                                                        <span style="color:red">*</span>
                                                    {% endif %}
                                                {% else %}
                                                    {{ journal.assessment }}
                                                    {% if journal.remark %}
                                                        <span style="color:red">*</span>
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                            {% set flag = true %}
                                        {% endif %}
                                    {% endfor %}
                                    {# если совпадение не найдено, генерируем пустую ячейку #}
                                    {% if flag == false %}
                                        <td></td>
                                    {% else %}
                                        {% set flag = false %}
                                    {% endif %}
                                {% endfor %}
                                <td style="text-align:center">
                                    {% if statisticalData['averageAssessment'][pga.id] %}
                                        {{ statisticalData['averageAssessment'][pga.id]|number_format(1, ',', ' ') }}
                                    {% endif %}
                                </td>
                                <td style="text-align:center">
                                    {% if statisticalData['assessmentCounter'][pga.id] %}
                                        {{ statisticalData['assessmentCounter'][pga.id] }}
                                    {% endif %}
                                </td>
                                <td style="text-align:center">
                                    {% if statisticalData['isAbsentCounter'][pga.id] %}
                                        {{ statisticalData['isAbsentCounter'][pga.id] }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    {% endblock %}

                </table>
            </div>
        </div>
    </div>
    {# {% block list_table_2 %} #}
    <div class="col-xs-12 col-md-12">
        <div class="box box-primary">
            <div class="box-body" id="lesson_overflow">
                <table class="table table-bordered table-striped sonata-ba-list">
                    {% block table_header_2 %}
                        <thead>
                        <tr class="sonata-ba-list-field-header">
                            <th style="text-align:center; width: 10%">Дата</th>
                            <th style="text-align:center; width: 40%">Тема урока</th>
                            <th style="text-align:center; width: 50%">Домашнее задание</th>
                        </tr>
                        </thead>
                    {% endblock %}
                    {% block table_body_2 %}
                        <tbody>
                        {% for reverseLesson in reverseLessonsList %}
                            <tr>
                                <td class="sonata-ba-list-field sonata-ba-list-field-text">
                                    {{ reverseLesson.date|date("d.m.Y") }}
                                </td>
                                <td>
                                    {{ reverseLesson.topic }}
                                </td>
                                <td>
                                    {{ reverseLesson.homework }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    {% endblock %}
                </table>
            </div>
        </div>
    </div>
    {# {% endblock %} #}
{% endblock %}